.poster-block {

	background-position: center;
	background-size: cover;
	background-color: #F5F5F5;
	display: flex;
	flex-direction: column;	
	align-items: center;	
	height: 100vh;

}

.content {

	justify-content: center;
	margin-left: 150px;
	margin-right: 150px;

}

.content ul {

	margin-left: 60px;
	margin-right: 60px;
}

.heading1 {

	color: #A8086B;
	text-align: center;
	margin-top: 70px;
}

.heading2 {

	color: #A8086B;
	text-align: center;
}

.heading3 {

	color: #A8086B;
	text-align: center;
	margin-top: 20px;

}

p {
	text-align: center;

}

a {
	color: #A8086B;
	text-decoration: none;
}

a:hover, a:visited, a:active {
	color: #A8086B;
	text-decoration: none;
}

.return {
	margin-top: 30px;
}

.lightning-tip {

	margin-top: 40px;
}

