html {
  font-size: 14px;
}

body{
  font-family: 'Roboto', sans-serif;
}

.animated {
  animation-duration: 500ms;
}

.btn {
  border-radius: 2px;
}

.btn.btn-danger {
  border-color: #D90429;
  background-color: #EF233C;
}

.btn.btn-primary {
  border-color: #2B2D42;
  background-color: #2B2D42;
}

.btn.btn-default:hover {
  background-color: #fafafa;
}

.top-hero {  
  background-color: #C72885;
  background-image: url("../img/home_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
  width: 100vw;
  height:100vh;
  display: flex;
  
  /*
  background-image: url("../home_bg.png");
  background-image: linear-gradient(rgba(43, 45, 66, 0.75), rgba(43, 45, 66, 0.75)), url("../home_bg.png");
  background-color: #fafafa;
  background-image: url("../home_bg.png");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 125px;
  display: flex;
  align-items: center;*/
}
.top-hero h1 {
  color: #C42E87;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
  letter-spacing: -1px;
  line-height: .9;
}
.top-hero p {
  color: #EDF2F4; 
  padding-left: 880px;
  padding-right: 50px;
  padding-top: 20px;
  font-size: 1.2rem;

}
.top-hero .looking-forward{
  /*color: #E0AF26;*/
  color: #FFDD00;
  padding-left: 80px;
  padding-top: 70px;
}

.btn-register{
  color: white;
  border: 1px solid; 
  border-color: white; 
  padding: 5px 15px 5px 15px; 
  display:inline-block;
  transition: all .1s ease; 
}

.btn-register:hover{  
  cursor:pointer;
  color: #C72885;
  background-color: white;
  font-weight: bold;  
}

@media only screen and (max-width: 768px) {
  .top-hero {
    min-height: 400px;
    padding-top: 50px;
  }
  .top-hero h1 {
    font-size: 36px;
    margin-top: 50px;
  }
}

.top-nav {  
  z-index: 100;
  background-color: rgba(255, 255, 255, 1);
  color: black;
  position: fixed;
  width: 100%;
  display: inline-block;
}

.nav-options{
  float: right;
}
.top-nav ul .signup-btn {
  padding: .25em .5em;
}
.top-nav ul .signup-btn,
.top-nav ul .signup-btn:hover {
  color: #EDF2F4 !important;
  border-bottom: 1px solid #D90429 !important;
  border-color: #D90429 !important;
}

.top-nav a {
  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding: 0 0 5px;
  transition: .25s;
}
.nav-options a:hover {
  color: #1C7BC9;
  border-color: #1C7BC9;
}

.nav-logo span{
  color: #CC0A6E;
}

.banner {
  color: #EDF2F4;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}
.banner .wrapper {
  text-align: center;
}

/*--ABOUT--*/
.about{
  display: flex;
  margin: 0px auto;
}

.about-col {
  margin: 25px;
  padding: 10px 20px 0 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  background-color: rgba(43, 45, 66, 0.8);
  /*color: #484848;*/
  color: white;
}
.about p, ul{
  text-align: left;
  color: white;
}

.about-title{
  /*color: #C72885;*/
  color: white;
}

.about-news{
  color: #C72885;
  font-size: 1.0rem;
}
.btn-news{
  align-items: center;
  /*color: #C72885;*/
  color: white;
  font-size: 1.2rem;
  border: 1px solid;
  /*border-color: #C72885;*/
  border-color: white;
  margin: 0 500px 0 500px;
}

.btn-news:hover{
  cursor: pointer;
}

@media only screen and (max-width: 768px) {
  .banner {
    min-height: 400px;
  }
  .banner h1,
  .banner h2 {
    font-size: 20px;
  }
}

.banner.about {
  /*background-color: #F8F8F8;
  background-color: #F0F0F0;*/
  color: black;
  background-image: linear-gradient(rgba(43, 45, 66, 0.75), rgba(43, 45, 66, 0.75)), url("../img/about_bg.jpg");
}

/*--SPEAKER--*/
.banner.speakers{
  background-color: #1C7BC9;
}

.speakers-title{
  color: #FFFF33; 
}

.speakers-title span{
  color: white;
  font-size: 1.1rem;
}

.speaker-profiles{
  display: flex;
  margin: 0px auto;
  
}

.speaker-col {
  margin: 25px;
  padding: 10px 20px 0 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;

  color: white;
}

.speaker-profiles img{
  max-height: 500px;
  max-width: 200px;
  border-radius: 50%;
}

.speaker-name{
  font-size: 1.5rem;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}

.speaker-title{
  font-size: 1.2rem;
  text-align: left;
  padding-left: 20px;
}

/*
.banner.speakers, .banner.signup {
  background-color: #D90429;
}
.banner.speakers {
  background-image: linear-gradient(rgba(217, 4, 41, 0.45), rgba(217, 4, 41, 0.45)), url("https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?dpr=1&auto=compress,format&fit=crop&w=1199&h=764&q=80&cs=tinysrgb&crop=&bg=");
}*/


/*Proposal*/

.banner.proposal {
  /*
  background-color: #2B2D42;
  background-color: #D3D3D3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1493020258366-be3ead1b3027?dpr=1&auto=compress,format&fit=crop&w=1199&h=1199&q=80&cs=tinysrgb&crop=&bg=");
  */  
  background-image: linear-gradient(rgba(43, 45, 66, 0.9), rgba(43, 45, 66, 0.9)), url("../img/proposal_bg.jpg");
}

.proposal-title{
  /*color: #99066B;*/
  color: #FF6699;
  font-weight: bold;
}

.proposal p{
  padding: 0 300px 0 300px;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}

.proposal h3{
 font-size: 1.2rem;
}

.proposal h3:hover{
 text-decoration: underline;
 color: #FF6699;
}

.banner.sponsors {
  background-color: #909090;
}
.banner.faq {
  background-color: #E0AF26;
}
.banner.gallery {
  background-color:#909090;
}
.banner.location {
  background-color: #FFFFFF;
}
.banner.location {
  background-image: linear-gradient(rgba(217, 4, 41, 0.45), rgba(217, 4, 41, 0.45)), url("https://images.unsplash.com/photo-1487537708572-3c850b5e856e?dpr=1&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=&bg=");
}

footer {
  text-align: center;
  background-color: #2B2D42;
  color: #EDF2F4;
}
footer .copyright {
  padding: 0;
  margin-top: 7px;
  font-size: 0.9rem;
}

.dropdown-submenu {
    position: relative;
}

.dropdown-submenu>.dropdown-menu {
    top: 0;
    left: 100%;
    margin-top: -6px;
    margin-left: -1px;
    -webkit-border-radius: 0 6px 6px 6px;
    -moz-border-radius: 0 6px 6px;
    border-radius: 0 6px 6px 6px;
}

.dropdown-submenu:hover>.dropdown-menu {
    display: block;
}

.dropdown-submenu>a:after {
    display: block;
    content: " ";
    float: right;
    width: 0;
    height: 0;
    border-color: transparent;
    border-style: solid;
    border-width: 5px 0 5px 5px;
    border-left-color: #ccc;
    margin-top: 5px;
    margin-right: -10px;
}

.dropdown-submenu:hover>a:after {
    border-left-color: #fff;
}

.dropdown-submenu.pull-left {
    float: none;
}

.dropdown-submenu.pull-left>.dropdown-menu {
    left: -100%;
    margin-left: 10px;
    -webkit-border-radius: 6px 0 6px 6px;
    -moz-border-radius: 6px 0 6px 6px;
    border-radius: 6px 0 6px 6px;
}
 
.dropdown-menu{
  min-width: 200px !important;
} 

.dropdown-menu li{
  padding: 5px !important;
} 