html {

  font-size: 14px;
}

body {

  font-family: 'Roboto', sans-serif;
}

.animated {

  animation-duration: 500ms;
}

.btn {

  border-radius: 2px;
}

.btn.btn-danger {

  border-color: #D90429;
  background-color: #EF233C;
}

.btn.btn-primary {

  border-color: #2B2D42;
  background-color: #2B2D42;
}

.btn.btn-default:hover {

  background-color: #fafafa;
}

.top-hero {  

  background-color: #C72885;
  background-image: url("../img/home_bg.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  /*background-attachment: fixed;*/
  width: 100vw;
  height:100vh;
  display: flex;
  
  /*
  background-image: url("../home_bg.png");
  background-image: linear-gradient(rgba(43, 45, 66, 0.75), rgba(43, 45, 66, 0.75)), url("../home_bg.png");
  background-color: #fafafa;
  background-image: url("../home_bg.png");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
  height: 100vh;
  padding-top: 125px;
  display: flex;
  align-items: center;*/
}
.top-hero h1 {

  color: #C42E87;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  font-weight: bold;
  text-transform: uppercase;
  width: 50%;
  letter-spacing: -1px;
  line-height: .9;
}

.top-hero p {

  color: #EDF2F4; 
  padding-left: 880px;
  padding-right: 50px;
  padding-top: 20px;
  font-size: 1.2rem;

}

.top-hero .looking-forward {

  /*color: #E0AF26;*/
  color: #FFDD00;
  padding-left: 80px;
  padding-top: 70px;
}

.btn-register {

  color: white;
  border: 1px solid; 
  border-color: white; 
  padding: 5px 15px 5px 15px; 
  display:inline-block;
  transition: all .1s ease; 
}

.btn-register:hover {  

  cursor:pointer;
  color: #C72885;
  background-color: white;
  font-weight: bold;  
  text-decoration: none;
}

@media only screen and (max-width: 768px) {

  .top-hero { 

    min-height: 400px;
    padding-top: 50px;
  }

  .top-hero h1 {

    font-size: 36px;
    margin-top: 50px;
  }
}

.top-nav {  

  z-index: 100;
  background-color: rgba(255, 255, 255, 0.9);
  color: black;
  position: fixed;
  width: 100%;
  display: inline-block;
}

.nav-options{

  float: right;
}

.top-nav ul .signup-btn {

  padding: .25em .5em;
}

.top-nav ul .signup-btn,
.top-nav ul .signup-btn:hover {

  color: #EDF2F4 !important;
  border-bottom: 1px solid #D90429 !important;
  border-color: #D90429 !important;
}

.top-nav a {

  font-size: 1.1rem;
  color: black;
  text-decoration: none;
  border-bottom: 3px solid transparent;
  padding: 0 0 5px;
  transition: .25s;
}

.nav-options a:hover {

  color: #1C7BC9;
  border-color: #1C7BC9;
}

.nav-logo {

  font-weight: bold;
  font-family: Verdana;

}

.nav-logo span{

  color: #CC0A6E;
}

.banner {

  color: #EDF2F4;
  background-position: center;
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.banner .wrapper {

  text-align: center;
}


/*--ABOUT--*/
.about {

  display: flex;
  margin: 0px auto;
}

.about-col {

  margin: 25px;
  padding: 10px 20px 0 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  background-color: rgba(43, 45, 66, 0.8);
  /*color: #484848;*/
  color: white;
}

.about p, ul {

  text-align: left;
  color: white;
}

.about-title {

  /*color: #C72885;*/
  color: white;
}

.about-news {

  color: #C72885;
  font-size: 1.0rem;
}

.btn-news {

  align-items: center;
  /*color: #C72885;*/
  color: white;
  font-size: 1.2rem;
  /*border: 1px solid;
  border-color: #C72885;*/
  border-color: white;
  margin: 0 500px 0 500px;
}

.btn-news:hover {

  cursor: pointer;
  color: white;
  text-decoration: underline;
}

@media only screen and (max-width: 768px) {
  .banner {
    min-height: 400px;
  }
  .banner h1,
  .banner h2 {
    font-size: 20px;
  }
}

.banner.about {

  /*background-color: #F8F8F8;
  background-color: #F0F0F0;*/
  color: black;
  background-image: linear-gradient(rgba(43, 45, 66, 0.75), rgba(43, 45, 66, 0.75)), url("../img/about_bg.jpg");
}


/*--SPEAKER--*/
.banner.speakers {

  background-color: #1C7BC9;
}

.speakers-title {

  color: #FFFF33; 
}

.speakers-title span {

  color: white;
  font-size: 1.1rem;
}

.speaker-profiles {

  display: flex;
  margin: 0px auto;
  
}

.speaker-col {

  margin: 25px;
  padding: 10px 20px 0 20px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 0;
  color: white;
}

.speaker-profiles img {

  max-height: 500px;
  max-width: 200px;
  border-radius: 50%;
}

.speaker-name {

  font-size: 1.5rem;
  text-align: left;
  padding-top: 10px;
  padding-left: 20px;
}

.speaker-title {

  font-size: 1.2rem;
  text-align: left;
  padding-left: 20px;
}

/*
.banner.speakers, .banner.signup {
  background-color: #D90429;
}
.banner.speakers {
  background-image: linear-gradient(rgba(217, 4, 41, 0.45), rgba(217, 4, 41, 0.45)), url("https://images.unsplash.com/photo-1485182708500-e8f1f318ba72?dpr=1&auto=compress,format&fit=crop&w=1199&h=764&q=80&cs=tinysrgb&crop=&bg=");
}*/


/*Proposal*/

.banner.proposal {
  /*
  background-color: #2B2D42;
  background-color: #D3D3D3;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("https://images.unsplash.com/photo-1493020258366-be3ead1b3027?dpr=1&auto=compress,format&fit=crop&w=1199&h=1199&q=80&cs=tinysrgb&crop=&bg=");
  */  
  background-image: linear-gradient(rgba(43, 45, 66, 0.9), rgba(43, 45, 66, 0.9)), url("../img/proposal_bg.jpg");
}

.proposal-title {

  /*color: #99066B;*/
  color: #FF6699;
  font-weight: bold;
  margin-top: 70px;
}

.proposal p {

  padding: 0 300px 0 300px;
  color: white;
  font-size: 1.2rem;
  text-align: justify;
}

.proposal a {

  font-size: 1.2rem;
  color: #FF6699;
  text-decoration: none;
}

.proposal a:hover{

  text-decoration: underline;
}

/*-- SPONSORS --*/
.banner.sponsors {
  color: black;
  background-color: white;
  
}

.sponsors h2{

  color: #CF0280;
  font-weight: bold;
}

.sponsors p {

  color: #CF0280;
}

.sponsor-img {

  max-height: 250px;
  max-width: 150px; 
  overflow-y: hidden;
  overflow-x:auto;

}

.sponsor-table table {

  float: left;
  border: 1px;
}

.sponsor-table th, td {

  text-align: center;
  padding: 15px;

}

.divider {

  border-left: 1px solid #ddd;
}

.images {

  display: block;
  margin: 0px;
  padding: 0px;
  position: absolute;
  top: 90px;
  /*height: auto;
  max-width: auto;*/
  
  white-space: nowrap;  
}

.banner.faq {

  background-color: #E0AF26;
}

.banner.gallery {

  background-color:#909090;
}

.banner.contact {

  background-color: #E0AF26;
  color: black;
}

.banner.location {

  background-image: linear-gradient(rgba(217, 4, 41, 0.45), rgba(217, 4, 41, 0.45)), url("https://images.unsplash.com/photo-1487537708572-3c850b5e856e?dpr=1&auto=compress,format&fit=crop&w=1199&h=798&q=80&cs=tinysrgb&crop=&bg=");
}

footer {

  text-align: center;
  background-color: #2B2D42;
  color: #EDF2F4;
}

footer .copyright {

  padding: 0;
  margin-top: 7px;
  font-size: 0.9rem;
}
